@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--red{
		color: #d03712 !important;
	}
	&--yellow{
		color: #ffe180 !important;
	}
	&--green{
		color: #2eff50 !important;
	}
}




.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}








/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{

	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		@include font-size(30);
		text-transform: uppercase;
		line-height: 1.3;
		font-weight: 900;
		>span{
			display: inline-block;
			position: relative;
			padding: 0 130px;
			&:before,&:after{
				content: "";
				width: 104px;
				height: 20px;
				position: absolute;
				@include v-align;
			}
			&:before{
				background: url("../img/bf.png")no-repeat;
				background-size: 100%;
				left: 0;
			}
			&:after{
				background: url("../img/af.png")no-repeat;
				background-size: 100%;
				right: 0;
			}
		}
	}
}


.c-btn__01{
	width: 100%;
	@include flex(center,center,wrap);
	text-align: center;
	height: 60px;
	border-radius: 5px;
	border: none;
	outline: none;
	background: #4ab176;
	color: white;
	@include font-size(30);
	cursor: pointer;
	@include mq(){
		height: vwsp(70);
		font-size: vwsp(30);
	}
}


