@use "vars" as *;

#header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: vw(18) vw(15) vw(17) vw(27);
	@include mq(){
		position: fixed;
		background: #35443f;
		padding: vwsp(20) 0 vwsp(20) 2%;
		@include flex(end,center,wrap);
	}
	.header-logo{
		display: block;
		max-width: vw(328);
		position: absolute;
		top: 0;
		left: vw(20);
		@include mq(){
			max-width: vwsp(274);
		}
	}
	.header-nav{
		@include mq(md-min){
			display: block !important;
		}
		@include mq(){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 20px 20px 60px;
			overflow-y: scroll;
			background: url("../img/bg-menu-sp.png")no-repeat;
			background-size: cover;
			background-position: bottom center;
			z-index: 999;
		}
		&__logo{
			margin-bottom: 3vw;
			img{
				display: block;
				width: vwsp(328);
				margin: 0 auto;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: flex-end;
			padding: vw(15) 0 0;
			@include mq(){
				display: block;
				padding: 0;
				margin-bottom: 30px;
			}
			&-item{
				@include mq(md-min){
					border-right: 1px solid #ffd496;
					&:last-child{
						border-right: none;
					}
				}
				@include mq(){
					margin-bottom: 3vw;
				}
				a{
					@include mq(md-min){
						display: block;
						font-size: vw(22);
						text-transform: uppercase;
						line-height: 1.2;
						font-weight: bold;
						color: #ffd496;
						padding: 0 vw(20);
						position: relative;
					}
					@include mq(){
						@include flex(center,center,wrap);
						width: vwsp(337);
						height: vwsp(83);
						background: url("../img/bg-item-menu.png")no-repeat;
						background-size: 100%;
						font-size: vwsp(25);
						color: white;
						font-weight: bold;
						margin: 0 auto;
						text-transform: uppercase;
						line-height: 1.2;
						align-content: center;
						span{
							display: block;
							text-align: center;
							width: 100%;
							color: #e2ded3;
						}
					}
				}
				&:nth-child(1){
					a{
						&:before{
							display: none;
						}
					}
				}
			}
		}
		&__sns{
			@include flex(center,center,wrap);
			position: relative;
			padding: 30px 0 0;
			&:before{
				content: "";
				width: 170px;
				height: 1px;
				background: #4f8b7f;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			li{
				a{
					display: block;
					width: vwsp(116);
					img{
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.header-btn{
		margin: 0 11vw 0 0;
		@include flex(0,0,wrap);
		li{
			margin-right: vwsp(10);
			a{
				display: block;
				img{
					width: vwsp(191);
				}
			}
		}
	}
	.hostline{
		@include flex(center,center,wrap);
		align-content: center;
		width: vw(206);
		height: vw(55);
		position: absolute;
		top: vw(20);
		right: 0;
		line-height: 1;
		font-size: vw(25);
		font-weight: bold;
		color: #3d8b76;
		text-align: center;
		background: url("../img/btn-phone.png")no-repeat;
		background-size: 100% 100%;
		padding: 0 vw(25) 0 0;
		span{
			display: block;
			width: 100%;
			color: #475053;
			font-size: vw(18);
		}
		&:after{
			content: "";
			width: vw(33);
			height: vw(33);
			background: url("../img/phone.png")no-repeat;
			background-size: 100%;
			position: absolute;
			@include v-align;
			right: vw(28);
		}
	}
	.js-mobile {
		width: vwsp(105);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 99999;
		display: none;
		@include mq(){
			@include flex(center,center);
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 45%;
			height: vwsp(4);
			background: #80b489;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #80b489;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -4px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -4px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #80b489;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}

.float-right{
	position: fixed;
	@include v-align;
	right: 0;
	width: vw(255);
	@include smooth-transition;
	z-index: 99;
	@include mq(){
		top: auto;
		bottom:  vw(20);
		transform: translateY(0);
		z-index: 99;
	}
	&.active{
		right: vw(-200);
	}
	&.fixd{
		z-index: 999;
	}
	a{
		display: block;
		position: relative;
		img{
			width: 100%;
		}
		.img-01{

		}
		.img-02{
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
		&:hover{
			opacity: 1;
			.img-01{
				opacity: 0;
				visibility: hidden;
			}
			.img-02{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__menu{
		position: relative;
		margin-bottom: vw(10);
		&-option{
			display: block;
			width: vw(24);
			position: absolute;
			top: vw(155);
			right: vw(200);
			cursor: pointer;
			&-item{
				position: absolute;
				top: 0;
				left: 0;
				.img-01{

				}
				.img-02{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
				}
				&:hover{
					.img-01{
						opacity: 0;
						visibility: hidden;
					}
					.img-02{
						opacity: 1;
						visibility: visible;
					}
				}
				&.--01{

				}
				&.--02{
					opacity: 0;
					visibility: hidden;
				}
			}
			&.active{
				.float-right__menu-option-item{
					&.--01{
						opacity: 0;
						visibility: hidden;
					}
					&.--02{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&-block{
			width: vw(167);
			position: absolute;
			top: vw(105);
			right:vw(25);
		}
		&-logo{
			display: block;
			width: vw(161);
			margin: 0 auto;
		}
		&-nav{
			margin-bottom: vw(8);
			li{
				margin-bottom: vw(5);
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&-sns{
			@include flex(center,center,wrap);
			li{
				width: 25%;
				padding: 0 vw(2);
			}
		}
	}
	&__top{
		display: block;
		width: vw(70);
		position: relative;
		margin-left: auto;
		margin-right: vw(72);
		@include mq(){
			width: vwsp(70);
			right: vwsp(10);
			margin-right: 0;
		}
		img{
			@include smooth-transition;
		}
		.img-01{

		}
		.img-02{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
		}
		&:hover{
			opacity: 1;
			.img-01{
				opacity: 0;
				visibility: hidden;
			}
			.img-02{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.float-left{
	z-index: 99;
	@include mq(md-min){
		width: vw(170);
		position: fixed;
		@include v-align;
		left: 10px;
	}
	@include mq(){
		position: absolute;
		bottom: vwsp(320);
		left: 0;
		right: 0;
		@include flex(center,center,wrap);
	}
	li{
		@include mq(md-min){
			margin-bottom: vw(5);
			&:last-child{
				margin-bottom: 0;
			}
		}
		@include mq(){
			width: 25%;
		}
		a{
			display: block;
			img{
				width: 100%;
			}
		}
	}
}

.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}